body{
    overflow:hidden;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    color:black;
    background-color: black;
}

#blackOverlay{
    background-color:#000;
    opacity:0.0;
    position:absolute;
    top:0;
    width:100%;
    height:100%;
}

#movie{
  opacity: 1;
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}


/* --- CAN BE USED FOR THE DOOR & BOWL LATER ! --- */
.container {
    display: inline-block;
    opacity: 1;
}

#door{
    height:42%;
    left:50.9%;
    top:33.9%;
    position:absolute;
}

#bowl{
    height:11%;
    left:13.1%;
    bottom:19.8%;
    position:absolute;
}

#door:hover{
    opacity: 75%;
    -webkit-filter: drop-shadow(12px 2px 12px rgba(0,0,0,0.75));
}
#bowl:hover{
    opacity: 75%;
    -webkit-filter: drop-shadow(12px 2px 12px rgba(0,0,0,0.75));
}

.transition {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s  ease-in-out;
}
/* ---------------------------------------------- */














.scene{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow:hidden;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-attachment: fixed;
    background-size: cover;
    pointer-events: none;
}

#intro{
    z-index: 5;
    background-image: url('../assets/img/TheSteamedeHamme.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 60%;
    background-color: black;
    pointer-events: auto;
}
#outside{
    z-index: 4;
    background-image: url('../assets/vid/outside.gif');
}
#reception{
    z-index: 3;
}
#dininghall{
    z-index: 2;
}
#table{
    z-index: 1;
    background-image: url('../assets/img/wooden-table.png');
}



#flipbook{
    position:absolute;
    left:15%;
    margin-top: 2%;
}

#flipbook .page{
    font-family: MedievalSharp;
    font-size:1em;
    width:25em;
    height:18.75em;
    background-color:white;
    height:18.75em;
    font-size:1.25em;
    text-align:center;
    background-size:      auto 100%;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}

#flipbook .page-wrapper{
    -webkit-perspective:125em;
    -moz-perspective:125em;
    -ms-perspective:125em;
    -o-perspective:125em;
    perspective:125em;
}

#flipbook .hard{
    font-family: 'Medieval Scribish', sans-serif;
    font-size: 45px;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
    background-image: url("../assets/img/front2.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
    color: white;
}

#flipbook .hard-end{
    font-family: 'Medieval Scribish', sans-serif;
    font-size: 45px;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
    background-image: url("../assets/img/front.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
    color: white;
}

#flipbook .hind{
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
    background-image: url("../assets/img/hindcover2.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}

#page1{
    background-image: url("../assets/img/Appetizers-New.jpg");
}
#page2{
    background-image: url("../assets/img/menu_page_appetizers1.png");
}
#page3{
    background-image: url("../assets/img/menu_page_appetizers2.png");
}
#page4{
    background-image: url("../assets/img/Drinks-New.jpg");
}
#page5{
    background-image: url("../assets/img/menu_page_drinks1.png");
}
#page6{
    background-image: url("../assets/img/menu_page_drinks2.png");
}
#page7{
    background-image: url("../assets/img/MainCourses-New.jpg");
}
#page8{
    background-image: url("../assets/img/menu_page_maincourses1.png");
}
#page9{
    background-image: url("../assets/img/menu_page_maincourses2.png");
}
#page10{
    background-image: url("../assets/img/menu_page_maincourses3.png");
}
#page11{
    background-image: url("../assets/img/Desserts-New.jpg");
}
#page12{
    background-image: url("../assets/img/menu_page_desserts1.png");
}
#page13{
    background-image: url("../assets/img/menu_page_desserts2.png");
}
#page14{
    background-image: url("../assets/img/menu_page_desserts3.png");
}
.defaultpage{
    background-image: url("../assets/img/page.jpg");
}
/*======================================================================*/
